# HTTPS redirection
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L,NE,QSA]

# Redirect /chrome to the Google Chrome extension
RewriteRule ^extension/chrome$ https://chromewebstore.google.com/detail/altmagick/anlgkhlcfiphggonpjaemenoapmodbad [L,R=301]

# Redirect /firefox to the Mozilla Firefox extension
RewriteRule ^extension/firefox$ https://addons.mozilla.org/fr/firefox/addon/altmagick/ [L,R=301]

# Redirect /buy to the buy page
RewriteRule ^buy$ https://buy.altmagick.com/buy/2ce00998-d26a-4e61-83bf-f1e6f1d6cb30 [L,R=301]

# Redirect /help to the help e-mail
RewriteRule ^help$ mailto:gaetan@altmagick.com [L,R=301]

# No indexes
Options -Indexes